<h2>{{name}}</h2>
<p>{{description}}</p>
<form action = "/groups/{{id}}/delete" method = "POST">
    <input type="submit" value="Delete group">
</form>
<form action = "/groups/{{id}}/uptadeGroup" method = "GET">
    <input type="submit" value="Uptade group">
</form>


