<h1>{{title}}</h1>
<form action="/populars" method="GET">
    <label for="limit">Number Of Movies:</label>
    <input type="number" id="limit" name="limit"><br><br>
    <label for="title">Movie Name:</label>
    <input type="text" id="title" name="title"><br><br>
    <input type="submit" value="Search">
</form>
