<h2>Uptade Group</h2>
<form action="/groups/{{id}}" method="POST">
    <p>Task name: <input type="text" name="name" value="{{name}}"></p>
    <p>
        Task description: <textarea type="text" name="description" data-lt-tmp-id="lt-581039"  value="{{description}} ">
    </textarea>
    </p>
    <input type="submit" value="Uptade group">
</form>