<h2>Uptade Group</h2>
<form action="/groups/{{id}}" method="POST">
    <p>Group name: <input type="text" name="name" value="{{name}}"></p>
    <p>
        Group description: <textarea type="text" name="description"  value="{{description}} ">
    </textarea>
    </p>
    <input type="submit" value="Uptade">
</form>